@charset "UTF-8";

@font-face {
    font-family: payback;
    src: url(fontes/payback/PaybAck.ttf);
}

@font-face {
    font-family: kg;
    src: url(fontes/kg_second_chances/KGSecondChancesSketch.ttf);
}

header h1{
    font-family: payback;
    src: url(fontes/payback/PaybAck.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #3CB371;
}

.container {
    height: 460px;
    width: 800px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagem img {
    height: 100%;
    width: 100%;
}

.bar{
    background-color: aqua;
    width: 25px;
    height: 5px;
    margin: 5px;
    cursor: pointer;
    transition: .5s;
}

.navegacao {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar:hover {
    background-color: #00ffee;
}

input {
    display: none;
}

.imagens {
    display: flex;
    height: 100%;
    width: 600%;
}

.imagem {
    width: 16.6666666667%;
    transition: all 0.5s;
}

#imagem1:checked~.img1 {
    margin-left: 0;
}

#imagem2:checked~.img1 {
    margin-left: -16.6666666667%;
}

#imagem3:checked~.img1 {
    margin-left: -33.3333333333%;
}

#imagem4:checked~.img1 {
    margin-left: -50%;
}

#imagem5:checked~.img1 {
    margin-left: -66.6666666667%;
}

#imagem6:checked~.img1 {
    margin-left: -83.3333333333%;
}

.texto {
    margin-top: 40%;
    position: relative;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 120%;
}

h1 {
    font-family: payback;
    color: rgb(255, 0, 0)4, 0, 212);
    text-align: center;
}

h2 {
    font-family: payback;
    color: burlywood;
    text-align: center;
}

footer{
   font-family: payback;
   text-align: center;
   margin-top: 5%;
}